IO_LOC "clk_27" 4;
IO_PORT "clk_27" IO_TYPE=LVCMOS33;
IO_LOC "Reset_Button" 88;

IO_LOC "vsync" 72;
IO_PORT "vsync" IO_TYPE=LVCMOS33;
IO_LOC "hsync" 71;
IO_PORT "hsync" IO_TYPE=LVCMOS33;
IO_LOC "pixclk" 51;
IO_PORT "pixclk" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[7]" 86;
IO_PORT "pixdata[7]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[6]" 79;
IO_PORT "pixdata[6]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[5]" 18;
IO_PORT "pixdata[5]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[4]" 73;
IO_PORT "pixdata[4]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[3]" 15;
IO_PORT "pixdata[3]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[2]" 19;
IO_PORT "pixdata[2]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[1]" 16;
IO_PORT "pixdata[1]" IO_TYPE=LVCMOS33;
IO_LOC "pixdata[0]" 74;
IO_PORT "pixdata[0]" IO_TYPE=LVCMOS33;

IO_LOC "LCD_B[4]" 27;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[3]" 28;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[2]" 29;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[1]" 30;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[0]" 31;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[5]" 32;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[4]" 33;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[3]" 34;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[2]" 35;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[1]" 36;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[0]" 37;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[4]" 38;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[3]" 39;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[2]" 40;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[1]" 41;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[0]" 42;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_DEN" 48;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33;
IO_LOC "LCD_SYNC" 26;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33;
IO_LOC "LCD_HYNC" 25;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS33;
IO_LOC "LCD_CLK" 77;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33;